.tr-root-group {
    background-color: #F3F3F3;
    color: rgba(0, 0, 0, 0.98);
    font-weight: bold;
}
.tr-group {
    font-weight: bold;
}
.bold-text {
    font-weight: bold;
}
.error-text {
    font-weight: bold;
    color: #FF0000;
}
.ok-text {
    color: #006400;
}

.text-right {
    text-align: right;
}

.bg-filled {
    background-color: #F3F3F3;
}

.total-bg-filled {
    background-color: #F3F3F3;
}
.total-filled {
    border-top: 1px solid black;
}

.th-style {
    border-bottom: 2px solid black !important;
    text-align: left;
    font-size: 16px;
}